//fonts-sizes 1-xs 2-md 3-lg
$h1-size: 3rem, 4rem, 5rem;
$h2-size: 1.5rem, 2.5rem, 3rem;
$nav_a-size: 2rem;
//colors
$body-color: linear-gradient(45deg, #36D1DC, #5B86E5);
$header-color: linear-gradient(45deg, #1c92d2, #74d3e6);
$footer-color:black;
$txtDescripcion-color:white;
$txtDescripcionDark-color:black;
$txtfooter-color:white;
$scrollbar_thumb-color:#ff612c;;
$scrollbar_track-color:black;
//imgs
$up_down-size: 10%,100%,50%;
$img_bgCat-sizeW:200px,300px,400px;
$img_bgCat-sizeH:200px,300px,400px;
$img_logo-size:20%;